/*-- scss:defaults --*/
// https://quarto.org/docs/presentations/revealjs/themes.html
// https://quarto.org/docs/output-formats/html-themes-more.html
// https://prerelease.quarto.org/docs/presentations/revealjs/themes.html#creating-themes
  // fonts
$font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino,
FreeSerif, serif !default;

// colors
$body-bg: #f5f0f7 !default;
  $body-color: #2d142e!default;
  $link-color: #2d142e !default;
  $selection-bg: #803682 !default;
  
  // headings
$presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino,
FreeSerif, serif !default;
$presentation-heading-color: #2d142e !default;
  
  /*-- scss:rules --*/
  
  .reveal a {
    line-height: 1.3em;
  }
  
  .reveal {
  background-color: #fff;  // Your desired background color
}

.flow {
  background-image: url("/imagens/nuvem.jpg");
  background-attachment: fixed;
  background-size: 60%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
      animation: animate 40s linear infinite;
	    font-weight: 900;
}

@keyframes animate {
	0% {
		background-position: left 0px top 10px;
	}
	40% {
		background-position: left 800px top 10px;
	}
}

.titulo-minicurso {
  text-align: left;
  margin-top: 100px; 
  font-size: 300%; 
  font-weight: bold;
}


.subtitulo-minicurso {
  text-align: left;
  margin-top: 5px; 
  font-size: 80%; 
  color: #88398a;
}


.rladies {
  text-align: center;
  margin-top: 350px; 
  font-size: 90%;
  font-weight: bold;
  color: #f5f0f7;
}

.hexagon {
  width: 300px;
  height: 259.8px; 
  clip-path: polygon(
    25% 0%,
    75% 0%,
    100% 50%,
    75% 100%,
    25% 100%,
    0% 50%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  top: 120px;
  transform: rotate(90deg);
}

.hexagon img {
  width: 100%;
  height: auto;
  object-fit: contain;
  transform: rotate(-90deg) scale(1.8); 
    margin-top: 20px; /* ← move a imagem para baixo */
}

.img-retangular {
  width: 100%;     /* ocupa os 30% da coluna */
  height: auto;    /* mantém 16:9 */
  display: block;
  margin: 0 auto;
  max-width: 480px; /* opcional para limitar */
}